<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
    <title>Filme: {{ object }}</title>
</head>
<body>
    <h1>{{ object }}</h1>

    <p>
        <a href="{% url demofilmes.edtit object.id %}">Editar título/ano</a>       
    </p>
    <table>
        {% for credito in object.creditos %}
            <tr>
                <th>{{ credito.papel }}</th>
                <td>{{ credito.nome }}</td>
            </tr>
        {% endfor %}
    </table>
    <p>
        <a href="{% url demofilmes.editar object.id %}">Editar título/ano e créditos</a>       
    </p>
    <form action="{% url demofilmes.del object.id %}">
        <input type="submit" value="Remover este filme">
    </form>    
    <hr>
    <a href="{% url demofilmes.indice %}">Voltar para a lista</a>       
</body>
</html>
